dataset/data/SpeechCommands/
dataset/data/novel_class_targets.pt
dataset/data/novel_class_tensors.pt
dataset/data/old_class_targtes.pt
dataset/data/old_class_tensors.pt
dataset/data/speech_commands_v0.02.tar.gz
dataset/data/SpeechCommands/speech_commands_v0.02/.DS_Store
dataset/data/SpeechCommands/speech_commands_v0.02/LICENSE
dataset/data/SpeechCommands/speech_commands_v0.02/README.md
results_lwf_negative_init.pdf
results_lwf_negative_init.png
results_lwf_negative_init.svg
results_lwf_random_init.pdf
results_lwf_random_init.png
results_lwf_random_init.svg
results_visualization.ipynb
runs/
results/
trial_code.ipynb
main.py
logits_plot.png
.DS_Store
